behave
allure-behave
allure-pytest
allure-python-commons
Pillow
pytest
selenium
virtualenv
html-testRunner
pyodbc
openpyxl
PyAutoGUI
opencv-python
numpy
pip
python-dotenv
requests
webdriver-manager
aspose-pdf
behave
Jinja2